<div class = "content">
    <h1 class = "title">
        SOURCES:
    </h1>

    {{#each sources}}
        <p class = "source">
            {{this.apa}}<a href = "{{this.url}}">{{this.url}}</a>
        </p>
    {{/each}}
</div>