<div class = "content">
    <h1 class = "title">
        SOURCES:
    </h1>

    <p class = "source">
        3Blue1Brown. (2016b, August 6). Vectors | Chapter 1, Essence of linear algebra [Video]. YouTube. https://www.youtube.com/watch?v=fNk_zzaMoSs
    </p>

    <p class = "source">
        Transformations - types, rules, formulas, graphs, examples. (n.d.). Cuemath. https://www.cuemath.com/geometry/transformations/
    </p>

</div>