<!DOCTYPE html>
<html>
    <head>
        <title>To Alter the World</title>

        <!-- Meta Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="keywords" content="math, transformations, highschool, learn, tutorial"/>
        <meta name="description" content="The homepage for the website 'To Alter The World' made by Matt and Lewis." />
        <meta name="authors" content="Matt Gerard Fadul Navarro, Lewis Angelo Enriquez" />
        <meta name="revised" content="December 23, 2024" />
        
        <!-- Favicon -->
        <link
            rel="icon"
            href="https://cdn.glitch.global/840246b7-0dc1-4e65-87fe-7a82faedb142/CSQ2_AA_Logo.ico?v=1734689609154"
        />
        <!-- CSS -->
        <link href="style/style.css" rel="stylesheet" type="text/css" />
        <link href="style/style-about.css" rel="stylesheet" type="text/css" />
        
        <!-- Links to the code and package needed to render the shader used in the background -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.js"></script>
        <script src="sketch.js"></script> 
    </head>
    <body>
        <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/translation">Translation</a></li>
        </ul>
        
        <!-- Add content for About Us page -->
        <div class = "content">
            <header>
                <h1>
                    Who are we? What is this website about?
                </h1>
            </header>
            
            <h3>
                What is "To Alter the World"
            </h3>

            <p>
                Welcome to To Alter the World! A comprehensive website dedicated to exploring the world of geometric transformations in math, including translation, rotation, and dilation. Here, you will find concise explanations, visual guides, and our ultimate interactive graphing model, allowing you to be visually familiar with the different transformations and understand how they work in geometry and beyond.
            </p>
            
            <p>
                Whether you’re a student learning and looking to grasp the basics or a mathematical enthusiast diving deeper into geometric transformations, To Alter the World offers a learning experience that is both approachable and engaging! With our resources, you will gain a solid foundation in these essential topics. Start exploring our playground today to transform your understanding of math!
            </p>
            
            <h3>
                What is "Numerix"
            </h3>

            <p>
                Numerix is a company founded by Lewis Enriquez and Matt Navarro. It aims to provide quality education in math to everyone for free. The creators have decided to start with highschool math. The website contains lessons and quizzes to help students learn the topics effectively.
            </p>

            <h3>
                Who are we?
            </h3>

            <div>
                <h4>
                    Lewis Enriquez
                </h4>

                <!-- Add image for developer's profile -->
                <img src="https://cdn.glitch.global/840246b7-0dc1-4e65-87fe-7a82faedb142/lewis.jpg?v=1738646963447" alt="Lewis" style="width:auto;" id = "lewis">

                <p>
                    Meet Lewis Enriquez, a scholar who is enthusiastic about and interested in a variety of lessons and subjects, including Computer Science. Together with Matt Navaro, wherein they founded the company entitled Numerix, they created To Alter the World as a website to demonstrate their coded website project and to convey their understanding of mathematical geometric transformations. As a Grade 9 student, Lewis likes to study and explore many topics and ideas, such as those in Computer Science and Mathematics, wherein this website shows his exploration of those subjects. He and Matt believe that one important aspect of a meaningful learning experience is the ability to share what has been learned thus far, which this website enables them to do. He enjoys reading and playing various instruments, including the guitar. He tries to approach everything he does with the belief that learning can be a creative and enjoyable process.
                </p>
            </div>
            
            <div>
                <h4>
                    Matt Navarro
                </h4>

                <!-- Add image for developer's profile -->
                <img src="https://cdn.glitch.global/840246b7-0dc1-4e65-87fe-7a82faedb142/matt.jpg?v=1734961304181;" id = "matt">

                <p>
                    Meet Matt Navarro, a scholar who enjoys and is passionate about learning various concepts and subjects, such as Mathematics and Computer Science. Together with Lewis Enriquez, they made the company called Numerix and developed the website To Alter the World, showcasing their ability in coding and programming, as well as their knowledge regarding geometric transformations in Mathematics. Matt, as a student in Grade 9, enjoys learning different topics and lessons, and this website demonstrates his knowledge and learning experience. According to him and Lewis, sharing what has been learnt thus far is a crucial component of a meaningful learning experience, and this website allows them to do just that. He enjoys watching shows and films, as well as writing and solving written problems involving mathematics and calculation. He believes that everyone has the potential to do something essential and significant, which he always strives to do so.
                </p>
            </div>
            
        </div>

        {{> footer}}
        <script src="script.js"></script>
    </body>
</html>