<!DOCTYPE html>
<html>
  <head>
    <title>To Alter the World</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="math, transformations, highschool, learn, tutorial"/>
    <meta name="description" content="The homepage for the website 'To Alter The World' made by Matt and Lewis." />
    <meta name="authors" content="Matt Gerard Fadul Navarro, Lewis Angelo Enriquez" />
    <meta name="revised" content="December 23, 2024" />
    
    <!-- Favicon -->
    <link
      rel="icon"
      href="https://cdn.glitch.global/840246b7-0dc1-4e65-87fe-7a82faedb142/CSQ2_AA_Logo.ico?v=1734689609154"
    />
    <!-- CSS -->
    <link href="style.css" rel="stylesheet" type="text/css" />
  
    <!-- Links to the code and package needed to render the shader used in the background -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.js"></script>
    <script src="sketch.js"></script> 
  <!-- Links to different webpages -->
  </head>
  <body>
    <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/translation">Translation</a></li>
    </ul>
    
    <!-- Add content for 'Translation' page -->
    <div class = "content">
      <header>
        <h1>
          Translation
        </h1>
      </header>

      <!-- Add text content for translation -->
      <p>
        Translation is among the various geometric transformations. When applied, the preimage or figure's position or location is altered. These include the following directions: upward, downward, right, left, and anywhere else in the coordinate plane. The preimage's size and orientation are preserved during this transition; just its position is altered.
      </p>
      
      <p>
        Below are the formula and showcase of this transformation. The point labeled "P" is the original point while "P'" is the point after the translation is applied.
      </p>
      
      <!-- Add image for translation -->
      <img src="https://cdn.glitch.global/840246b7-0dc1-4e65-87fe-7a82faedb142/translation.png?v=1734965625700" id = "translation_formula">
      
      <!-- This uses desmos in order to generate the interactive graph. In future iterations of the project, these will be placeholders for the inteded usage of the canvases. In the final, they will be replaced with JS canvases. -->
      <iframe src="https://www.desmos.com/calculator/ayh9s5cxrc?embed" width="500" height="500" style="border: 1px solid #ccc" frameborder="0"></iframe>
      
      <p>
        demo experiece is finished, other parts will be finished later
      </p>
    </div>
    
    {{> footer}}
    <script src="script.js"></script>
  </body>
</html>